<nav class="navbar-expand-md border-bottom mb-3 bg-gray-200 md:ml-auto flex flex-wrap items-center text-base justify-center">
    <div class="container justify-center">
        <ul class="nav inline-flex">
            <li class="nav-item">
                <a class="nav-link mx-12 txt-secondary text-center text-gray-500 hover:text-gray-700" routerLink="land" routerLinkActive="text-dark">Landscapes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mx-12 txt-secondary text-center text-gray-500 hover:text-gray-700 " routerLink="birds" routerLinkActive="text-dark">Birds</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mx-12 txt-secondary text-center text-gray-500 hover:text-gray-700 " routerLink="astro" routerLinkActive="text-dark">Astro-Photgraphy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mx-12 txt-secondary text-center text-gray-500 hover:text-gray-700 " routerLink="street" routerLinkActive="text-dark">Street</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mx-12 txt-secondary text-center text-gray-500 hover:text-gray-700 " routerLink="randoms" routerLinkActive="text-dark">Randoms</a>
            </li>
        </ul>
    </div>
</nav>


<router-outlet> </router-outlet>