<header class="text-gray-600 body-font">
    <div class=" w-full mx-auto fixed top-0 z-40 bg-white flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0" href="#home" routerLinkActive="text-dark">        
      <img src="./assets/icon.png" alt="" class="h-10">
        <span class="ml-3 text-xl">Playground</span>
      </a>
      <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
        <a class="mr-5 hover:text-gray-900" href="#home" routerLinkActive="text-dark">Home</a>
        <a class="mr-5 hover:text-gray-900" routerLink="samples" routerLinkActive="text-dark">Samples</a>
        <a class="mr-5 hover:text-gray-900" routerLink="hobbies" routerLinkActive="text-dark">Hobbies</a>
      </nav>
    </div>
  </header>

