<section id="gear" class="text-gray-600 body-font">
    <div class="container mx-auto flex px-5 pt-20 md:flex-row flex-col items-center">
        <h1 class="sm:text-sm md:text-lg text-2xl mb-4 font-medium text-gray-900" >My Gear</h1>
    </div>
    <div id="indicators-carousel" class="relative w-full " data-carousel="static">
        <div class="container px-5 py-6 mx-auto h-full flex flex-wrap flex-col">
            
            <div class="flex mx-auto flex-wrap mb-20">
                <button data-carousel-slide-to="0" 
                class="sm:px-6 py-3 w-1/2 sm:w-auto justify-center sm:justify-start border-b-2 title-font font-medium inline-flex items-center leading-none border-gray-200 hover:text-gray-900 tracking-wider">
                    Full Gear
                </button>
                <button data-carousel-slide-to="1" 
                class="sm:px-6 py-3 w-1/2 sm:w-auto justify-center sm:justify-start border-b-2 title-font font-medium inline-flex items-center leading-none border-gray-200 hover:text-gray-900 tracking-wider">
                    Camera
                </button>
                <button data-carousel-slide-to="2" 
                class="sm:px-6 py-3 w-1/2 sm:w-auto justify-center sm:justify-start border-b-2 title-font font-medium inline-flex items-center leading-none border-gray-200 hover:text-gray-900 tracking-wider">
                    Lenses
                </button>
                <button data-carousel-slide-to="3" 
                class="sm:px-6 py-3 w-1/2 sm:w-auto justify-center sm:justify-start border-b-2 title-font font-medium inline-flex items-center leading-none border-gray-200 hover:text-gray-900 tracking-wider">
                    Flash
                </button>
                <button data-carousel-slide-to="4" 
                class="sm:px-6 py-3 w-1/2 sm:w-auto justify-center sm:justify-start border-b-2 title-font font-medium inline-flex items-center leading-none border-gray-200 hover:text-gray-900 tracking-wider">
                    Tripod and Accesories
                </button>
            </div>
        
            <div class="relative bg-white overflow-hidden rounded-lg" style="height: 110vh;">
                <!-- Item 1 -->
                <div class="hidden duration-700 ease-in-out" data-carousel-item="active">
                    <img class=" lg:w-5/6 md:w-1/2 w-full block mx-auto my-auto mb-10 object-cover object-center rounded" alt="hero" src="./assets/gear.jpg">
                    <div class="flex flex-col text-center w-full">
                        <h1 class="text-xl font-medium title-font mb-4 text-gray-900">Full Camera Gear</h1>
                        <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
                            Above are the gear that I use on a daily basis. 
                        </p>
                    </div>
                </div>
                <!-- Item 2 -->
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img class=" lg:w-5/6 md:w-1/2 w-full block mx-auto my-auto mb-10 object-cover object-center rounded" alt="hero" src="./assets/gear.jpg">
                    <div class="flex flex-col text-center w-full">
                        <h1 class="text-xl font-medium title-font mb-4 text-gray-900">Canon 90D</h1>
                        <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
                            Daily driver Camera. 32.5 Megapixel CMOS (APS-C) Sensor.
                        </p>
                    </div>
                </div>
                <!-- Item 3 -->
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img class=" lg:w-5/6 md:w-1/2 w-full block mx-auto my-auto mb-10 object-cover object-center rounded" alt="hero" src="./assets/gear.jpg">
                    <div class="flex flex-col text-center w-full">
                        <h1 class="text-xl font-medium title-font mb-4 text-gray-900">Sigma 18-35mm f1.8</h1>
                        <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
                            My favorite lens. ultrawide with a large aperture giving your portraits a nice bokeh
                        </p>
                        <h1 class="text-xl font-medium title-font mb-4 text-gray-900">Tokina 11-16mm f2.8</h1>
                        <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
                            nice wide aperture lens with ultrawide capabilities for astro photography. sharpness could be better but considering I'm not 
                            a professional photographer and d
                        </p>
                        <h1 class="text-xl font-medium title-font mb-4 text-gray-900">Sigma 18-35mm f1.8</h1>
                        <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
                            My favorite lens. ultrawide with a large aperture giving your pictures a nice bokeh
                        </p>

                    </div>
                </div>
                <!-- Item 4 -->
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img class=" lg:w-5/6 md:w-1/2 w-full block mx-auto my-auto mb-10 object-cover object-center rounded" alt="hero" src="./assets/gear.jpg">
                    <div class="flex flex-col text-center w-full">
                        <h1 class="text-xl font-medium title-font mb-4 text-gray-900">Master Cleanse Reliac Heirloom</h1>
                        <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical gentrify, subway tile poke farm-to-table. Franzen you probably haven't heard of them man bun deep jianbing selfies heirloom prism food truck ugh squid celiac humblebrag.</p>
                    </div>
                </div>
                <!-- Item 5 -->
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img class=" lg:w-5/6 md:w-1/2 w-full block mx-auto my-auto mb-10 object-cover object-center rounded" alt="hero" src="./assets/tripods.jpg">
                    <div class="flex flex-col text-center w-full">
                        <h1 class="text-xl font-medium title-font mb-4 text-gray-900">Master Cleanse Reliac Heirloom</h1>
                        <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical gentrify, subway tile poke farm-to-table. Franzen you probably haven't heard of them man bun deep jianbing selfies heirloom prism food truck ugh squid celiac humblebrag.</p>
                    </div>
                </div>
                <button type="button" class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
                    <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                        </svg>
                        <span class="sr-only">Previous</span>
                    </span>
                </button>
                <button type="button" class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
                    <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                        </svg>
                        <span class="sr-only">Next</span>
                    </span>
                </button>
            </div>
            
        </div>
        
    </div>
  </section>